@import '../element-variables';

.color-primary {
  color: $--color-primary;
}

.color-success {
  color: $--color-success;
}

.color-info {
  color: $--color-info;
}

.color-warning {
  color: $--color-warning;
}

.color-error {
  color: $--color-danger;
}

.color-price {
  color: #FF7A22;
}
