@import 'block';
/* margin-top */
.mtn {
  margin-top: $--block-n !important;
}

.mtxs {
  margin-top: $--block-xs !important;
}

.mts {
  margin-top: $--block-s !important;
}

.mtm {
  margin-top: $--block-m !important;
}

.mtl {
  margin-top: $--block-l !important;
}

.mtxl {
  margin-top: $--block-xl !important;
}

/* margin-right */
.mrn {
  margin-right: $--block-n !important;
}

.mrxs {
  margin-right: $--block-xs !important;
}

.mrs {
  margin-right: $--block-s !important;
}

.mrm {
  margin-right: $--block-m !important;
}

.mrl {
  margin-right: $--block-l !important;
}

.mrxl {
  margin-right: $--block-xl !important;
}

/* margin-bottom */
.mbn {
  margin-bottom: $--block-n !important;
}

.mbxs {
  margin-bottom: $--block-xs !important;
}

.mbs {
  margin-bottom: $--block-s !important;
}

.mbm {
  margin-bottom: $--block-m !important;
}

.mbl {
  margin-bottom: $--block-l !important;
}

.mbxl {
  margin-bottom: $--block-xl !important;
}

/* margin-left */
.mln {
  margin-left: $--block-n !important;
}

.mlxs {
  margin-left: $--block-xs !important;
}

.mls {
  margin-left: $--block-s !important;
}

.mlm {
  margin-left: $--block-m !important;
}

.mll {
  margin-left: $--block-l !important;
}

.mlxl {
  margin-left: $--block-xl !important;
}
