@import 'block';
/* padding-top */
.ptn {
  padding-top: $--block-n !important;
}

.ptxs {
  padding-top: $--block-xs !important;
}

.pts {
  padding-top: $--block-s !important;
}

.ptm {
  padding-top: $--block-m !important;
}

.ptl {
  padding-top: $--block-l !important;
}

.ptxl {
  padding-top: $--block-xl !important;
}

/* padding-right */
.prn {
  padding-right: $--block-n !important;
}

.prxs {
  padding-right: $--block-xs !important;
}

.prs {
  padding-right: $--block-s !important;
}

.prm {
  padding-right: $--block-m !important;
}

.prl {
  padding-right: $--block-l !important;
}

.prxl {
  padding-right: $--block-xl !important;
}

/* padding-bottom */
.pbn {
  padding-bottom: $--block-n !important;
}

.pbxs {
  padding-bottom: $--block-xs !important;
}

.pbs {
  padding-bottom: $--block-s !important;
}

.pbm {
  padding-bottom: $--block-m !important;
}

.pbl {
  padding-bottom: $--block-l !important;
}

.pbxl {
  padding-bottom: $--block-xl !important;
}

/* padding-left */
.pln {
  padding-left: $--block-n !important;
}

.plxs {
  padding-left: $--block-xs !important;
}

.pls {
  padding-left: $--block-s !important;
}

.plm {
  padding-left: $--block-m !important;
}

.pll {
  padding-left: $--block-l !important;
}

.plxl {
  padding-left: $--block-xl !important;
}
