@import './element-variables.scss';

.custom-el-menu,
.el-menu--vertical {
  background-color: $--color-primary;
  border-right: none;

  .el-menu {
    background-color: $--color-primary;
    border-right: none;
  }

  .el-menu,
  .el-submenu {
    .el-submenu__title,
    .el-menu-item {
      min-width: 100%;
      width: auto;
      max-width: 100%;
      height: 40px;
      line-height: 40px;
      color: $menu-dark-color;

      .icon,
      .iconfont,
      .el-submenu__icon-arrow {
        color: $menu-dark-highlight-color;
      }

      &.is-active,
      &:hover,
      &:focus {
        background-color: $menu-dark-submenu-bg;
      }
    }
  }

  &.el-menu--collapse {
    width: 54px;
  }
}

.el-menu--vertical {
  .el-menu {
    border-radius: 5px;
  }
}

/* 重置 Drawer */
.el-drawer {
  .el-drawer__header {
    padding: 15px 20px;
    margin-bottom: 0;
    border-bottom: 1px solid #f0f0f0;

    span,
    button {
      outline: none;
    }
  }
}

/* 重置 card */
.cus-card {
  .el-card {
    border: 0;
  }
}

/*自定义 table 样式*/
.custom-table {
  .el-table__header {
    background-color: #F5F7FA;
  }

  .custom-td-header-one,
  .el-table__body tr:hover .custom-td-header-one {
    color: #303133;
    font-weight: bold;
    background-color: #F5F7FA;
  }
}

.custom-table-header {
  color: #303133;

  th {
    background-color: #F5F7FA;
  }
}
