/* 改变主题色变量 */
$--color-primary: #1e3f5c;

/// color|1|Font Color|2
$--color-text-primary: #303133 !default;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-plus/lib/theme-chalk/fonts';

@import '~element-plus/packages/theme-chalk/src/index';

$heading-color: rgba(0, 0, 0, 0.85); // 标题色

// Menu
$menu-collapsed-width: 54px;

// dark theme
$menu-dark-bg: #222834;
$menu-dark-submenu-bg: #265173;
//$menu-dark-submenu-bg: rgba($--color-primary, 0.85);
$menu-dark-color: rgba(#FFF, 0.95);
$menu-dark-highlight-color: #fff;

/** 自定义变量 */
// 主窗口背景色
$mainBgColor: #f0f3f4;
// 左边宽度
$leftSideBarWidth: 200px;
// 头部高度
$headerHeight: 50px;
// 头部下方面包屑高度
$headerBreadcrumbHeight: 34px;

